@font-face {
  font-family: 'Bowlby One';
  src: url('./BowlbyOne.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'DmSans';
  src: url('./DMSans.ttf') format('truetype');
  font-style: normal;
}
*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 0;
  font-family: 'DmSans';
  overflow-x: hidden;
}